#dashboard header {
    margin: 0 100px 25px 170px;
    padding-top: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #D3E2E5;
}

#dashboard header h1 {
    color: #4D6F80;
}

#dashboard header p {
    color: #8FA7B2;
}

#dashboard main .orphanages-list {
    margin-left: 120px;
    display: flex;
} 

#dashboard main .orphanages-list .orphanage {
    width: 450px;
    margin: 0 50px 50px;
    overflow: hidden;

    border: 1px solid #D3E2E5;
    border-radius: 20px;
    background-color: #FFF;
} 

#dashboard main .orphanages-list .orphanage .orphanage-menu {
    padding: 12px 25px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#dashboard main .orphanages-list .orphanage .orphanage-menu h2 {
    color: #4D6F80;
    font-size: 24px;
}

#dashboard main .orphanages-list .orphanage .orphanage-menu .button-container {
    width: 85px;

    display: flex;
    justify-content: space-between;
}


#dashboard main .orphanages-list .orphanage .orphanage-menu button {
    height: 35px;
    width: 38px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}
